body {
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.follower {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #ffb703;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}