body {
  font-family: Arial;
  color: #fff;
  background-color: #000;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#ufo {
  width: 360px;
  position: relative;
  pointer-events: none;
}