body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow-y: hidden;
    background-color: #121212;
}

#game-board {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #EEE;
    margin: 0 auto;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px 0 rgba(191, 164, 164, 0.5);
}

.snake,
.food {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}