body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.follower {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #ef233c;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}